# aerotools configuration

# Update sketchybar on workspace change
sketchybar_update=true

# Pin windows by title regex (they follow you across workspaces)
# pin_window=Sticky Notes
# pin_window=^Picture in Picture
