[Install]
WantedBy=desktop-session.target

[Service]
ExecStart=/usr/bin/cbatticon
Restart=on-abort

[Unit]
After=tray.target
Description=cbatticon system tray battery icon
Requires=tray.target
