[Install]
WantedBy=desktop-session.target

[Service]
ExecStart=/usr/bin/nm-applet --sm-disable --indicator

[Unit]
After=tray.target
Description=Network Manager applet
Requires=tray.target
