[Install]
WantedBy=desktop-session.target

[Service]
ExecStart=/usr/bin/parcellite
Restart=on-abort

[Unit]
After=tray.target
Description=Lightweight GTK+ clipboard manager
Requires=tray.target
