[Install]
WantedBy=desktop-session.target

[Service]
ExecStart=/usr/bin/pasystray

[Unit]
After=tray.target
Description=PulseAudio system tray
Requires=tray.target
