[Install]
WantedBy=desktop-session.target

[Service]
ExecStart=/usr/bin/poweralertd
Restart=always
Type=simple

[Unit]
Description=UPower-powered power alerter
Documentation=man:poweralertd(1)
